*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body-container{
  display: block;
  width:500px;
  height:700px;
  background-color: gray;
  margin:0 auto;
  padding:20px;
}

.top-container{
  display: block;
  width:400px;
  height:200px;
  background-color: white;
  margin:0 auto;
}

.bottom-container{
  display: block;
  width:450px;
  height:450px;
  background-color: pink;
  margin:10px auto 0px auto;
  text-align:center;
}

.comment-container{
  display:block;
  width:400px;
  height:100px;
  background-color: red;
  margin:10px auto 0px auto;
  text-align: left;
}

.comment-img{
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: blue;
  margin-left:10px;
}

.comment-text{
  display: inline-block;
  width: 200px;
  height: 100px;
  background-color: yellow;
  margin-left:5px;
  vertical-align: top;
}

.comment-btns{
  display: inline-block;
  width: 50px;
  height: 100px;
  background-color: green;
  margin-left:5px;
  vertical-align: top;
}