*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body-container{
  display: block;
  width:600px;
  height:700px;
  border:1px solid gray;
  margin:0 auto;
  padding:20px;
  background-color: rgb(243,243,243);
}

.top-container{
  display: block;
  width:550px;
  height:300px;
  background-color: rgb(249,227,223);
  margin:0 auto;
  padding:20px;
}

#nameInput{
  width:200px;
  height:30px;
  padding: 5px;
}

#commentInput{
  width: 500px;
  height:150px;
  margin-top:10px;
  padding: 5px;
}

#summitBtn{
  width:auto;
  height: 30px;
  background-color:  rgb(226,114,98);
  color:white;
  padding: 5px;
  border-radius:5px;
  margin-top: 5px;
  margin-left:440px;
  margin-bottom:5px;
}

.bottom-container{
  display: block;
  width:550px;
  height:450px;
  margin:10px auto 0px auto;
  text-align:center;
}

.category-row{
  display: block;
  width:550px;
  height: 40px;
  border-bottom:1px solid rgb(226,114,98);
  text-align: left;
}

.category-item{
  display: inline-block;
  width:auto;
  height: 40px;
  line-height:20px;
  background-color: rgb(226,114,98);
  color:white;
  padding: 10px;
  font-weight: lighter;
}

.comment-container{
  display:block;
  width:550px;
  height:150px;
  margin:10px auto 0px auto;
  text-align: left;
  padding:10px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px lightslategray;
  background-color: rgb(255,255,255);
}


.comment-container:hover{
  content:"";
  background-color: rgb(255,255,229);
}

.comment-img{
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50% 50%;
  border: 0.5px solid lightslategray;
  text-align: center;
  padding:5px;
}

.comment-img img{
  width:60px;
  height: 60px;
  border-radius: 50% 50%;
}

.comment-text{
  display: inline-block;
  width: 350px;
  height: auto;
  margin-left:5px;
  vertical-align: top;
  color:gray;
  font-weight: lighter;
}

.comment-btns{
  display: inline-block;
  width: 80px;
  height: 100px;
  margin-left:5px;
  vertical-align: top;
  text-align: center;
}

.comment-btns>button{
  background-color: rgb(226,114,98);
  width:70px;
  height:30px;
  padding:5px;
  color:white;
  text-decoration-style: none;
  font-weight: lighter;
}